<!DOCTYPE html>
<html lang="en">

<!-- v-bind shorten as :
     v-on shorten as @
     v-model shorten as :model
     v-bind:href shorten as :href
     v-bind:src shorten as :src
-->

<head>
    <meta charset="UTF-8" />
    <title>Intro SE331</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">

        <div class="nav-bar"></div>
        <div class="cart">
            Cart(
            <span v-if="cart.length === 0">0</span>
            <span v-else>
                <span v-for="(count, id, idx) in cartCountMap" :key="id">
                    {{ id }}: {{ count }}<span v-if="idx < Object.keys(cartCountMap).length - 1">, </span>
                </span>
            </span>
            )
        </div>

        <!-- Import ProductDisplay Component -->
        <product-display v-bind:premium="premium" @add-to-cart="updateCart" @remove-from-cart="removeCart"></product-display>
        
    </div>

        <!-- Import Js -->
        <script src="./components/ProductDetails.js"></script>
        <script src="./components/ProductDisplay.js"></script>
        <script src="./main.js"></script>
</body>

</html>